GatewayEnabled = true
AutoInitialiseFromNetworkHistory = false
ChainID = "{{- vega_core_chain_id -}}"
MaxMemoryPercent = 33

[Admin]
  Level = "Info"
  [Admin.Server]
    SocketPath = "/tmp/datanode.sock"
    HTTPPath = "/datanode/rpc"

[API]
  Level = "Info"
  Timeout = "5s"
  Port = 3007
  WebUIPort = 3006
  WebUIEnabled = true
  Reflection = false
  IP = "0.0.0.0"
  StreamRetries = 3
  CoreNodeIP = "127.0.0.1"
  CoreNodeGRPCPort = 3002
  MaxSubscriptionPerClient = 250
  [API.RateLimit]
    Enabled = true
    TrustedProxies = ["127.0.0.1"]
    Rate = 1200
    Burst = 4000
    TTL = "1h0m0s"
    BanFor = "10m0s"

[CandlesV2]
  Level = "Info"
  [CandlesV2.CandleStore]
    DefaultCandleIntervals = ""
  [CandlesV2.CandleUpdates]
    CandleUpdatesStreamBufferSize = 100
    CandleUpdatesStreamInterval = "1s"
    CandlesFetchTimeout = "10s"
    CandleUpdatesStreamSubscriptionMsgBufferSize = 100

[Logging]
  Environment = "dev"
  [Logging.Custom]
    [Logging.Custom.Zap]
      Level = -1
      Development = true
      Encoding = "console"
      OutputPaths = ["stdout"]
      ErrorOutputPaths = ["stderr"]
    [Logging.Custom.ZapEncoder]
      CallerKey = "C"
      EncodeCaller = "short"
      EncodeDuration = "string"
      EncodeLevel = "capital"
      EncodeName = "full"
      EncodeTime = "iso8601"
      LevelKey = "L"
      LineEnding = "\n"
      MessageKey = "M"
      NameKey = "N"
      TimeKey = "T"

[SQLStore]
  WipeOnStartup = false
  Level = "Info"
  UseEmbedded = false
  FanOutBufferSize = 1000
  RetentionPeriod = "forever"
  VerboseMigration = true
  [SQLStore.ConnectionConfig]
    Host = "localhost"
    Port = 5432
    Username = "{{- vega_core_data_node_postgresql_username -}}"
    Password = "{{- vega_core_data_node_postgresql_password -}}"
    Database = "{{- vega_core_data_node_postgresql_database -}}"
    SocketDir = "/tmp"
    MaxConnLifetime = "30m0s"
    MaxConnLifetimeJitter = "5m0s"
    MaxConnPoolSize = 0
    MinConnPoolSize = 0
    [SQLStore.ConnectionConfig.RuntimeParams]


  [SQLStore.ConnectionRetryConfig]
    MaxRetries = 10
    InitialInterval = "1s"
    MaxInterval = "10s"
    MaxElapsedTime = "1m0s"
  [SQLStore.LogRotationConfig]
    MaxSize = 100
    MaxAge = 2

{% if vega_core_data_node_with_monitoring_optimized_retention %}

  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "balances"
    DataRetentionPeriod = "7 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "checkpoints"
    DataRetentionPeriod = "7 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "conflated_balances"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "delegations"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "ledger"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "orders"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_1_minute"
    DataRetentionPeriod = "1 month"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_5_minutes"
    DataRetentionPeriod = "1 month"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_15_minutes"
    DataRetentionPeriod = "1 month"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_30_minutes"
    DataRetentionPeriod = "1 month"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_1_hour"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_4_hours"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_6_hours"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_8_hours"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_12_hours"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_1_day"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "trades_candle_7_days"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "market_data"
    DataRetentionPeriod = "14 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "margin_levels"
    DataRetentionPeriod = "14 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "conflated_margin_levels"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "positions"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "conflated_positions"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "liquidity_provisions"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "markets"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "deposits"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "withdrawals"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "blocks"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "rewards"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "stop_orders"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "funding_period_data_points"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "party_activity_streaks"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "referral_programs"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "referral_set_stats"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "oracle_data"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "oracle_data_oracle_specs"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "vesting_stats"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "volume_discount_stats"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "referral_set_stats"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "fees_stats"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "funding_payment"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "volume_discount_programs"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "party_locked_balances"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "party_vesting_balances"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "party_vesting_stats"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "fees_stats_by_party"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "paid_liquidity_fees"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "transfer_fees_discount"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "time_weighted_notional_positions"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "game_team_scores"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "game_party_scores"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "volume_rebate_programs"
    DataRetentionPeriod = "45 days"
  [[SQLStore.RetentionPolicies]]
    HypertableOrCaggName = "volume_rebate_stats"
    DataRetentionPeriod = "45 days"
{% endif %}

[Gateway]
  Port = 3008
  IP = "0.0.0.0"
  Level = "Info"
  Timeout = "5s"
  SubscriptionRetries = 3
  GraphQLPlaygroundEnabled = true
  MaxSubscriptionPerClient = 250
  HTTPSEnabled = false
  AutoCertDomain = ""
  CertificateFile = ""
  KeyFile = ""
  [Gateway.Node]
    Port = 3007
    IP = "0.0.0.0"
  [Gateway.GraphQL]
    Enabled = true
    ComplexityLimit = 0
    Endpoint = "/graphql"
  [Gateway.REST]
    Enabled = true
    APMEnabled = true
  [Gateway.CORS]
    AllowedOrigins = ["*"]
    MaxAge = 7200
  [Gateway.RateLimit]
    Enabled = true
    TrustedProxies = ["127.0.0.1"]
    Rate = 1200
    Burst = 4000
    TTL = "1h0m0s"
    BanFor = "10m0s"

[Metrics]
  Level = "Info"
  Timeout = "5s"
  Port = 2113
  Path = "/metrics"
  Enabled = true

[Broker]
  Level = "Info"
  SocketServerInboundBufferSize = 10000
  SocketServerOutboundBufferSize = 10000
  UseEventFile = false
  PanicOnError = false
  UseBufferedEventSource = true
  EventBusClientBufferSize = 100000
  [Broker.SocketConfig]
    IP = "0.0.0.0"
    Port = 3005
    MaxReceiveTimeouts = 3
    TransportType = "tcp"
  [Broker.FileEventSourceConfig]
    Directory = "events"
    TimeBetweenBlocks = "1s"
    SendChannelBufferSize = 1000
  [Broker.BufferedEventSourceConfig]
    EventsPerFile = 10000000
    SendChannelBufferSize = 10000
    Archive = true
    ArchiveMaximumSizeBytes = 1000000000

[Service]
  Level = "Info"

[Pprof]
  Level = "Debug"
  Enabled = true
  Port = 6062
  ProfilesDir = "/home/vega/pprof/datanode"
  BlockProfileRate = 0
  MutexProfileFraction = 0
  WriteEvery = "15m0s"

[NetworkHistory]
  Level = "Info"
  Enabled = true
  WipeOnStartup = false
  Publish = true
  FetchRetryMax = 10
  RetryTimeout = "50s"
  [NetworkHistory.Store]
    PeerID = "XXXXXXXXXXXXXXXXXXXXX"
    PrivKey = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    BootstrapPeers = [{%- for peer in vega_core_data_node_bootstrap_peers -%}
"{{- peer -}}"
{%- if not loop.last %},{% endif -%}
{%- endfor -%}]
    SwarmPort = 4001
    SwarmKeyOverride = ""
    HistoryRetentionBlockSpan = 604800
    GarbageCollectionInterval = "24h0m0s"
  [NetworkHistory.Snapshot]
    WaitForCreationLockTimeout = "5m0s"
  [NetworkHistory.Initialise]
    ToSegment = ""
    MinimumBlockCount = -1
    TimeOut = "96h0m0s"
    GrpcAPIPorts = []
