{{- vega_caddy_server_block_explorer_ui_domains | map('ansible.builtin.regex_replace', '$', ':443') | join(', ') {
    root * /var/www/explorer
    encode gzip

    file_server {
        hide .git
        index index.html
    }

    handle_errors {
            rewrite * /index.html
            file_server
    }
}
