{{- vega_caddy_server_trading_ui_domains | map('ansible.builtin.regex_replace', '$', ':443') | join(', ') }} {
    root * /var/www/trading
    encode gzip

    file_server {
        hide .git
        index index.html
    }

    handle_path /trading-view-bundle/* {
        root * /var/www/trading-view-bundle
        import cors *
    }


    handle_errors {
        rewrite * /index.html
        file_server
    }
}
